<script src="../dev/lib/pixi.js/bin/pixi.js"></script>
<script src="../dev/lib/pixi-spine/bin/pixi-spine.js"></script>
<script src="../dev/lib/requirejs/require.js"></script>
<script src="../dev/configuration.js"></script>

<script>
    require.config({
        shim: {
            'configuration': {
                exports: 'Configuration'
            },
            'pixi': {
                exports: 'PIXI'
            },
            'pixi-spine': {
                exports: 'PIXI.spine'
            }
        },
        paths: {
            "pixi": "../src/pixi/value",
            "configuration": "../dev/configuration"
        }
    });
</script>