<template id="game-element">
    <style>
        :host {
            width: 100%;
            height: 100%;
        }

    </style>
    <div id="game-render"></div>
</template>
<script>

    (function (doc) {
        require(['src/component/application',
            'src/component/dispatcher',
            'src/component/backdoor',
            'src/store/ui-state',
            'src/component/timer',
            'src/store/resources',
            'src/component/chat'
        ], function (App, Dispatcher, Backdoor, UiStateStore, Timer, Resources, Chat) {
            const GameTag = Object.create(HTMLElement.prototype, {
                createdCallback: {
                    value: function () {
                        var main = doc.querySelector('#game-element');
                        var mainElement = document.importNode(main.content, true);
                        this.appendChild(mainElement);
                    }
                },
                attachedCallback: {
                    value: function () {
                        const gameRender = this.querySelector('#game-render');
                        App.setAddress(this.getAttribute("url"));
                        App.init(gameRender);

                        window.addEventListener('mousedown', function (event) {
                            if (event.which && event.which == 1) {
                                Dispatcher.userEventStream.publish('left-click', event);
                            }
                            if (event.which && event.which == 3) {
                                Dispatcher.userEventStream.publish('right-click', event);
                            }
                        });

                        window.addEventListener('keydown', function (event) {
                            if (event.keyCode == KEY_CODES.ESC) {
                                Dispatcher.userEventStream.publish('esc-down', event);
                            }
                        });

                        // because element is created asynchronously due to use requireJs we need to emit event when it's has been propertly created.
                        this.dispatchEvent(new CustomEvent('element-attached'))
                    }
                },
                logout: {value: App.logout},
                setUser: {value: App.setUser},
                connect: {value: App.connect},
                uiState: {value: UiStateStore},
                publishUiAction: {value: Dispatcher.userEventStream.publish.bind(Dispatcher.userEventStream)},
                backdoor: {value: Backdoor},
                timer: {value: Timer},
                skillByKey: {value: Resources.skill},
                itemById: {value: Resources.item},
                sendMessage: {value: Chat.sendMessage}
            });

            document.registerElement('dzida-game', {
                prototype: GameTag
            });
        });

    })(document.currentScript.ownerDocument);

</script>