<script src="../src/global/ui-helper.js"></script>
<script src="../src/global/key-codes.js"></script>
<link rel="import" href="ui-fragments/profiling-display.html">
<link rel="import" href="ui-fragments/respawnScreen.html">
<link rel="import" href="ui-fragments/join-battle-button.html">
<link rel="import" href="ui-fragments/respawnScreen.html">
<link rel="import" href="ui-fragments/action-bar.html">
<link rel="import" href="windows/join-battle-window.html">
<link rel="import" href="windows/survival-end-window.html">
<link rel="import" href="../extra/extra.html">
<link rel="stylesheet" href="../styles/ui.css">
<link rel="stylesheet" href="../styles/icon.css">
<script src="../lib/requirejs/require.js"></script>
<template id="game-ui">
    <div class="ui-fragments"></div>
    <div class="window area"></div>
    <div id="center-bottom">
        <div id="cooldown-bar">
            <div class="progress-bar"></div>
        </div>
    </div>
    <span id="server-message"></span>
</template>
<script>
    (function (doc) {
        require(['components/game-ui', 'src/store/cooldown-bar', 'src/store/server-messages'],
                function (GameUi, CooldownBar, Messages) {

                    document.registerElement('game-ui', {
                        prototype: Object.create(HTMLElement.prototype, {
                            createdCallback: {
                                value: function () {
                                    var main = doc.querySelector('#game-ui');
                                    var mainElement = document.importNode(main.content, true);
                                    this.appendChild(mainElement);
                                }
                            },
                            init: {
                                value: function (game) {
                                    const ui = this;
                                    this.game = game;

                                    const gameUi = GameUi.create(this, game.uiState);
                                    this.gameUi = gameUi;
                                    Object.keys(UiElements).forEach(function (elementKey) {
                                        const element = UiElements[elementKey].prototype;
                                        if (element.type == 'fragment') {
                                            gameUi.registerUiFragment(elementKey, element.properties);
                                        } else if (element.type == 'window') {
                                            gameUi.registerWindow(elementKey, element.properties);
                                        } else {
                                            throw `Ui element ${elementKey} has undefined type`;
                                        }
                                    });
                                    gameUi.updateUi();
                                }
                            },
                            attachedCallback: {
                                value: function () {
                                    CooldownBar.playerCooldown.subscribe(this._updateCooldown);
                                    Messages.messageToShowState.subscribe(this._serverMessageUpdate);
                                    document.getElementById('cooldown-bar').style.display = 'none';
                                }
                            },
                            detachedCallback: {
                                value: function () {
                                    CooldownBar.playerCooldown.unsubscribe(this._updateCooldown);
                                    Messages.messageToShowState.unsubscribe(this._serverMessageUpdate);
                                }
                            },
                            showWindow: {
                                value: function (windowKey) {
                                    this.gameUi.showWindow(windowKey)
                                }
                            },
                            _updateCooldown: {
                                value: function (state) {
                                    const cooldownBar = document.getElementById('cooldown-bar');
                                    if (state) {
                                        cooldownBar.style.display = 'block';
                                        const progressBar = document.querySelector('#cooldown-bar .progress-bar');
                                        progressBar.style.animationDuration = state.cooldown + 'ms';
                                    } else {
                                        cooldownBar.style.display = 'none';
                                    }
                                }
                            },
                            _serverMessageUpdate: {
                                value: function (message) {
                                    var serverMessage = document.getElementById('server-message');
                                    serverMessage.style.display = message ? 'block' : 'none';
                                    if (message) {
                                        serverMessage.innerText = message;
                                    }
                                }
                            }
                        })
                    });
                });
    })(document.currentScript.ownerDocument);
</script>