<script src="../lib/requirejs/require.js"></script>
<template id="join-battle-button">
    <button>Join Battle!</button>
</template>
<script>
    (function (doc) {
            document.registerElement('join-battle-button', {
                prototype: Object.create(HTMLElement.prototype, {
                    createdCallback: {
                        value: function () {
                            var main = doc.getElementById("join-battle-button");
                            var mainElement = document.importNode(main.content, true);
                            this.appendChild(mainElement);
                        }
                    },
                    attachedCallback: {
                        value: function () {
                            this.getElementsByTagName("button")[0].onclick = function () {
                                GAME_UI.showWindow("join-battle-window");
                            };
                        }
                    }
                })
            });
        GAME_UI.registerUiFragment("join-battle-button", {
            location: 'center'
        });
    })(document.currentScript.ownerDocument);
</script>