<template id="profiling-window">
    <div id="fps">FPS - <span></span></div>
    <div id="rft">RFT - <span></span></div>
    <div id="ping">PING - <span></span></div>
    <div id="x">x - <span></span></div>
    <div id="y">y - <span></span></div>
</template>
<script>
    (function (doc) {
        const attributes = ['fps', 'rft', 'ping', 'x', 'y'];

        function roundToDisplay(number) {
            return Math.round(number * 1000) / 1000;
        }

        function updateValue(element, key, value) {
            element.querySelector('#' + key + ' span').innerHTML = roundToDisplay(value);
        }

        document.registerElement('profiling-window', {
            prototype: Object.create(HTMLElement.prototype, {
                createdCallback: {
                    value: function () {
                        var main = doc.querySelector('#profiling-window');
                        var mainElement = document.importNode(main.content, true);
                        this.appendChild(mainElement);
                    }
                },
                attachedCallback: {
                    value: function () {
                        const element = this;
                        attributes.forEach(function (attr) {
                            const attribute = element.getAttribute(attr);
                            const value = attribute ? attribute : 0;
                            updateValue(element, attr, value)
                        });
                        this.classList.add('window');
                    }
                },
                attributeChangedCallback: {
                    value: function (attrName, oldVal, newVal) {
                        if (attributes.includes(attrName)) {
                            updateValue(this, attrName, newVal);
                        }
                    }
                }
            })
        });
    })(document.currentScript.ownerDocument);
</script>