body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #156c99;
}

html, body, div {
    padding: 0;
    margin: 0;
}

div, h1 {
    -moz-user-select: none;
    -webkit-user-select: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #fff;
    font-weight: bold;
}

h4 {
    margin: 10px 0 2px;
}

a {
    color: #f7d104;
}

a:hover {
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
}

.area {
    color: #bdbdbd;
    background: rgba(0, 0, 0, 0.7);
    border: #777 solid 1px;
    border-radius: 5px;
    max-width: 600px;
    margin: 0 auto;
}

button, .button, input[type=submit] {
    background: linear-gradient(to bottom, #041561 5%, #03114f 100%);
    color: #f7d104;
    letter-spacing: 1px;
    font-weight: bold;
    padding: 5px 10px;
    box-shadow: inset 0 1px 0 0 #41557d;
    border: #f7d104 solid 1px;
    border-radius: 3px;
    margin-top: 5px;
}

button:hover, .button:hover, input[type=submit]:hover {
    color: #FFF;
    border-color: #AAA;
}

button.large {
    font-size: 18px;
}

select {
    background: linear-gradient(to bottom, #041561 5%, #03114f 100%);
    color: #f7d104;
    box-shadow: inset 0 1px 0 0 #41557d;
    border: #f7d104 solid 1px;
    border-radius: 3px;
    height: 26px;
    font-weight: bold;
}

input[type=text],
input[type=password],
input[type=url],
input[type=tel],
input[type=number],
input[type=color],
input[type=email] {
    background: rgba(0, 0, 0, 0.5);
    color: #f7d104;
    box-shadow: inset 0 1px 0 0 #41557d;
    border: #f7d104 solid 1px;
    border-radius: 3px;
    padding: 4px;
    font-weight: bold;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.error {
    color: #ff0700;
}

.highlight {
    color: #f7d104;
}

.defeat {
    color: red;
}

.victory {
    color: #3DD83D;
}

form label {
    /* padding: 3px 0 0 0; */
    color: #f7d104;
    /* float: left; */
    /* display: block; */
    /* width: 80px; */
    width: 80px;
    display: inline-block;
}

form button {
    margin-top: 10px;
}

.action-key-shortcut {
    text-decoration: underline;
}

form .error-message {
    margin-top: 15px;
    font-size: 14px;
}

table {
    font-size: 16px;
    border-spacing: 0;
}

col.center {
    text-align: center;
    background: red;
}

table tbody td {
    border-top: 1px solid #f7d104;
    color: white;
}

table td {
    padding: 5px 15px;
}

.form-group {
    padding: 5px;
}