:root {
    --main-color: #F7D104;
    --highlight-color: #FFF;
    --link-color: #FFF;
    --text-color: #BBB;
    --background-color: #156c99;
    --success-color: #3DD83D;
    --failure-color: #FF0700;
}