profiling-window {
    width: 335px;
    padding: 2px;
}

profiling-window div {
    float: left;
    margin: 3px;
}

profiling-window div > span {
    display: block;
    float: right;
    width: 34px;
    padding-left: 2px;
}

game-ui .window {
    top: 35%;
    padding: 10px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
 }

game-ui .window > * {
    padding: 10px;
    display: block;
}

game-ui {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
}

game-ui .ui-fragments {
}

game-ui .ui-fragments > * {
    position: fixed;
}

#middle-bar {
    position: absolute;
    bottom: 1px;
}

#middle-top-bar {
    position: absolute;
    top: 1px;
}

skill-bar {
    float: left;
    margin-right: 10px;
}

#server-message {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 30%;
    font-weight: bold;
    color: #c20101;
    text-shadow: 0 0 4px #ff8287;
    z-index: 200;
    font-size: 24px;
}

@keyframes progress-bar-anim {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

#center-bottom {
    position: absolute;
    left: 50%;
    bottom: 0;
}

#center-bottom > div {
    position: relative;
    left: -50%;
}

#cooldown-bar {
    margin: 0 auto;
    width: 300px;
    height: 20px;
    top: -120px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.5);
}

#cooldown-bar .progress-bar {
    height: 100%;
    background: rgba(0, 40, 255, 0.3);
    animation: progress-bar-anim linear;
}

survival-end-screen {
    padding: 10px 100px 20px !IMPORTANT;
    text-align: center;
}

survival-end-screen h1 {
    font-size: 50px;
}

action-bar {
    bottom: 0;
    width: 100%;
    text-align: center;
}

join-battle-button {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
}

