@import "theme.css";

body {
    font-size: 16px;
}

.area {
    max-width: 600px;
    margin: 0 auto;
}

game-ui .window {
    top: 35%;
    padding: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
    max-height: 450px;
    overflow-y: auto;
}

game-ui .window > * {
    padding: 10px;
    display: block;
}

game-ui .window .window-actions {
    margin-top: 45px;
}

#close-window-button {
    position: absolute;
    margin: -15px 0 0 -15px;
    padding: 4px 5px;
}

#close-window-button:before {
    content: "✕";
}

game-ui {
    position: absolute;
    top: 0;
}

game-ui .ui-fragments {
}

.ui-fragments > * {
    position: fixed;
}

profiling-display {
    width: 262px;
    padding: 2px;
    top: 0;
    right: 0;
    font-size: 0.75em;
}

profiling-display div {
    float: left;
    margin: 3px;
}

profiling-display div > span {
    display: block;
    float: right;
    width: 34px;
    padding-left: 2px;
}

skill-bar {
    float: left;
    margin-right: 10px;
}

@keyframes progress-bar-anim {
    from {
        width: 100%;
    }
    to {
        width: 0;
    }
}

cooldown-bar {
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 35px;
    bottom: 20%;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

cooldown-bar .progress-bar {
    height: 100%;
    width: 0;
    background: rgba(0, 40, 255, 0.2);
    animation: progress-bar-anim linear;
    border-radius: 4px;
}

casting-bar {
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
    height: 35px;
    bottom: 20%;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 2px 10px 0 rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

casting-bar .progress-bar {
    height: 100%;
    width: 0;
    background: rgba(0, 40, 255, 0.2);
    animation: casting-bar-animation linear;
    border-radius: 4px;
}

@keyframes casting-bar-animation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}


.resolution-window h1 {
    font-size: 40px;
    text-align: center;
    margin: 10px;
}

.resolution-window p {
    font-size: 16px;
}

current-parcel {
    display: inline-block;
    left: 50%;
    transform: translateX(-50%);
}

game-message {
    top: 30%;
    font-weight: bold;
    color: #c20101;
    text-shadow: 0 0 20px #FFFFFF;
    font-size: 26px;
    pointer-events: none;
    text-align: center;
    width: 100%;
}

server-error {
    top: 30%;
    font-weight: bold;
    color: #c20101;
    text-shadow: 0 0 20px #FFFFFF;
    font-size: 32px;
    pointer-events: none;
    text-align: center;
    width: 100%;
}

.game-state {
    font-size: 44px;
    width: 100%;
    text-align: center;
    top: 30%;
    color: #f7d104;
    text-shadow: 0 0 4px #fff;
}

dzida-game canvas {
    position: absolute;
}

@keyframes fade {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

/* GAME CHAT */
game-chat {
    position: absolute;
    width: 400px;
    left: 1px;
    bottom: 120px;
    color: white;
    font-size: 12px;
    display: none;
}

game-chat .chat-messages {
    /* display: none; */
    width: 100%;
    height: 200px;
    padding: 5px;
    margin: 0;
    list-style: none;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
}

game-chat .chat-messages li {
    margin: 1px 2px;
    color: white;
    text-shadow: 0 0 2px black;
}

game-chat .message-type-command {
    color: #aaaaaa;
}

game-chat .message-type-error {
    color: #ff2c2c;
}

game-chat .message-type-whisper {
    color: #f56eff;
}

game-chat .chat-input {
    color: white;
    width: 100%;
    padding: 2px 5px;
    margin-top: 10px;
    font-weight: normal;
    font-size: 14px;
    border: rgba(255, 255, 255, 0.3) solid 1px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: none;
}

player-inventory {
    top: 40px;
    right: 1px;
    padding: 10px;
    width: 180px;
    font-size: 0.8em;
}

#login-form {
}

#registration-form {
    border-top: solid 1px #f7d104;
    margin-top: 30px;
    padding-top: 10px;
}

#error-message {
    margin-top: 20px;
    font-size: 16px;
}

.list-with-preview ul {
    float: left;
    list-style-type: none;
    font-size: 16px;
    padding: 0 20px 0 0;
    border-right: var(--main-color) 1px solid;
    margin: 0;
}

.list-with-preview section {
    float: left;
    padding: 0 0 0 20px;
}

.list-with-preview ul li {
    padding: 4px 0;
}

.list-with-preview ul li a {
    color: var(--text-color);
    text-decoration: none;
}

.list-with-preview ul li a:hover {
    color: var(--highlight-color);
}

achievement-window {
    width: 350px;
}

achievement-window > div {
    overflow-y: scroll;
    height: 300px;
}

achievement-window ul.navigation-list {
    width: 170px;
}

achievement-window .achievement-progress {
    float: right;
    color: var(--highlight-color);
}

achievement-window .achievement {
    border: #666 1px solid;
    border-radius: 4px;
    padding: 15px;
}

achievement-window .achievement.unlocked {
    border-color: var(--main-color);
}

achievement-window .achievement h3 {
    margin: 0 0 2px 0
}

achievement-window .achievement.unlocked h3 {
    color: var(--main-color);
}

achievement-window .achievement-rewards {
    margin-top: 2px;
    font-size: 0.8em;
}

achievement-window .achievement-unlock-date {
    float: right;
    margin-top: -25px
}

objective-tracker {
    top: 200px;
    right: 1px;
    padding: 10px;
    width: 180px;
    font-size: 0.8em;
}

objective-tracker ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

objective-tracker li span {
    float: right;
    color: var(--highlight-color);
}

feedback-window {
    width: 300px;
}

feedback-window label {
    width: 120px;
}

feedback-window textarea {
    width: 100%;
    min-height: 60px;
}

::-webkit-scrollbar {
    background-color: white;
    width: 10px;
    background-color: rgba(255, 255, 255, 0.5);
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, .5);
    -webkit-box-shadow: 0 0 1px rgba(255, 255, 255, .5);
}

.list-window {
    overflow-y: auto;
}

.list-window .element:first-child {
    border-top: none;
}

.list-window .element {
    border-top: var(--main-color) 1px solid;
    margin: 10px 0;
    padding: 10px 0
}

building-window .element {
    width: 200px;
}

building-window .object-icon {
    float: left;
    margin-right: 20px;
}

building-window .object-description {
    float: left;
}

building-window h3 {
    margin: 0;
}

cooking-window h3 {
    margin: 0;
}

cooking-window .element {
    width: 150px;
}

.cost {
    margin: 0;
    list-style: none;
    padding-left: 10px;
}

.cost li {
    font-size: 0.8em
}

.cost .not-enough {
    color: var(--failure-color);
}

#custom-cursor {
    position: fixed;
    pointer-events: none;
    width: 48px;
    height: 48px;
    color: #999;
}

.rewards ul {
    margin: 0;
    list-style: none;
    padding: 0
}

feedback-button {
    left: 2px;
}