<link rel="import" href="../elements/action-socket.html">
<template id="player-inventory">
    <div class="item-list"></div>
</template>
<script>
    createUiElement('player-inventory', {
        type: 'fragment',
        properties: {
            requirements: {
                playerAlive: Predicates.is(true)
            }
        },

        attached: function () {
            this._updateActive(this.uiState.playerItems.value);
            this.classList.add('area');
            this.uiState.playerItems.subscribe(this._updateActive.bind(this));
        },
        detached: function () {
            this.uiState.playerItems.unsubscribe(this._updateActive.bind(this));
        },
        _updateActive: function (quantities) {
            const itemList = this.getElementsByClassName('item-list')[0];

            const itemById = this.game.itemById;
            const newHtml = Object.keys(quantities).map(function (itemId) {
                return `<div><span>${itemById(itemId).name}</span> : <span>${quantities[itemId]}</span></div>`
            }).join('');
            itemList.innerHTML = newHtml;
        }
    });
</script>