<template id="join-battle-button">
    <button>Join Battle!</button>
</template>
<script>
    createUiElement('join-battle-button', {
        type: 'fragment',
        properties: {
            requirements: {
                playerAlive: Predicates.is(true),
                scenarioType: Predicates.is('open-world')
            }
        },
        attached: function () {
            const element = this;
            this.getElementsByTagName("button")[0].onclick = function () {
                element.ui.showWindow("join-battle-window");
            };
        }
    });
</script>