<script src="../../lib/requirejs/require.js"></script>
<template id="join-battle-window">
    <select>
        <option value="small-island">Small Island - Survival</option>
    </select>
    <button>Join!</button>
</template>
<script>
    (function (doc) {
        require(['src/component/dispatcher'], function (Dispatcher) {
            document.registerElement('join-battle-window', {
                prototype: Object.create(HTMLElement.prototype, {
                    createdCallback: {
                        value: function () {
                            var main = doc.getElementById("join-battle-window");
                            var mainElement = document.importNode(main.content, true);
                            this.appendChild(mainElement);
                        }
                    },
                    attachedCallback: {
                        value: function () {
                            const select = this.getElementsByTagName('select')[0];
                            this.getElementsByTagName("button")[0].onclick = function () {
                                const map = select.value;
                                Dispatcher.userEventStream.publish('join-battle', map);
                            };
                        }
                    }
                })
            });
        });
        GAME_UI.registerWindow("join-battle-window", {
            activateKeyBind: "J",
            requirements: {
                playerAlive: true
            }
        });
    })(document.currentScript.ownerDocument);
</script>