<script src="../../lib/requirejs/require.js"></script>
<template id="join-battle-window">
    <select>
        <option value="small-island">Small Island - Survival</option>
    </select>
    <button>Join!</button>
</template>
<script>
    createUiElement('join-battle-window', {
        type: 'window',
        properties: {
            activateKeyBind: KEY_CODES.fromLetter("J"),
            keyBinds: [
                [KEY_CODES.ENTER, "joinBattle"]
            ],
            requirements: {
                playerAlive: true,
                scenarioType: 'open-world'
            }
        },
        attached: function () {
            this.getElementsByTagName("button")[0].onclick = this.joinBattle.bind(this);
        },
        joinBattle: function () {
            const select = this.getElementsByTagName('select')[0];
            const map = select.value;
            this.game.publishUiAction('join-battle', map);
        }
    });
</script>