<template id="join-battle-window">
    <form>
        <label>
            <select>
                <option value="small-island">Small Island - Survival</option>
            </select>
        </label>
        <label>
            Difficulty Level:
            <input type="number" id="difficulty-level" required = "required">
        </label>
        <input type="submit" value="Join!">
    </form>
</template>
<script>
    createUiElement('join-battle-window', {
        type: 'window',
        properties: {
            activateKeyBind: KEY_CODES.fromLetter("J"),
            requirements: {
                playerAlive: Predicates.is(true),
                scenarioType: Predicates.is('open-world')
            }
        },
        attached: function () {
            const playerData = this.uiState.playerData.value;
            const difficultyLevelElement = document.getElementById('difficulty-level');
            difficultyLevelElement.value = playerData.lastDifficultyLevel;
            difficultyLevelElement.min = 1;
            difficultyLevelElement.max = playerData.highestDifficultyLevel + 5;
            const select = this.getElementsByTagName('select')[0];
            deffer(function () {
                select.focus();
            });

            this.getElementsByTagName("form")[0].onsubmit = function () {
                const map = select.value;
                const difficultyLevel = difficultyLevelElement.value;
                this.game.publishUiAction('join-battle', {map, difficultyLevel});
                return false;
            }.bind(this)
        }
    });
</script>