<template id="settings-window">
    <button class="logout"><span class="action-key-shortcut">L</span>ogout!</button>
</template>
<script>
    createUiElement('settings-window', {
        type: 'window',
        properties: {
            keyBinds: [
                [KEY_CODES.fromLetter("L"), "logout"]
            ],
            requirements: {
                applicationState: Predicates.is('running')
            }
        },
        attached: function () {
            function deleteCookie(name) {
                document.cookie = name + '=;expires=Thu, 01 Jan 1970 00:00:01 GMT;';
            }

            const game = this.game;

            this.getElementsByClassName("logout")[0].onclick = function () {
                deleteCookie('nick');
                game.disconnect();
            };
        },
        logout: function () {
            this.getElementsByClassName("logout")[0].click();
        }
    });
</script>