<template id="survival-end-screen">
        <h1></h1>
        <button class="large" autofocus>Go back</button>
</template>
<script>
    createUiElement('survival-end-screen', {
        type: 'window',
        properties: {
            autoDisplay: true,
            closeable: false,
            requirements: {
                endScenario: Predicates.isSet(),
                scenarioType: Predicates.is('survival')
            }
        },
        attached: function () {
            const scenarioEnd = this.uiState.endScenario.value;
            const header = this.getElementsByTagName('h1')[0];
            header.innerText = scenarioEnd.resolution;
            if (scenarioEnd.resolution == 'Victory') {
                header.classList.add('victory')
            } else {
                header.classList.add('defeat')
            }

            const button = this.getElementsByTagName('button')[0];
            deffer(function () {
                button.focus();
            });
            button.onclick = function () {
                this.game.publishUiAction('go-to-home', {});
            }.bind(this);
        }
    });
</script>